<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess BOT</title>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- @click="cellAction(i, j)" -->
    <div id="vue1">
        <div class="board">  
                <div v-for="hist in history" class="board__cell_bg" :style="{ backgroundColor: hist.hc, transform: 'translate(' + hist.hx + '00%,' + hist.hy + '00%)' }"></div>
                <div v-for="cell in freeMoves" class="board__cell_bg" :style="{ backgroundColor: cell.mc, transform: 'translate(' + cell.mj + '00%,' + cell.mi + '00%)' }"></div>
                <div v-for="(cell, cell_k) in freeMoves" class="board__cell" @click="cellAction(cell.mi, cell.mj, cell_k)" :style="{ transform: 'translate(' + cell.mj + '00%,' + cell.mi + '00%)' }"></div>
                <template v-for="(fig, fig_k) in figures">
                    <img :src="`data/${fig.type}.png`" class="board__figure" @click="figureAction(fig.y, fig.x, fig_k)" :style="{ display: (fig.type == 0) ? 'none' : '', transform: 'translate(' + fig.x + '00%,' + fig.y + '00%)' }" alt="FIGURE"> 
                </template>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>